<section class="container">
    <div class="tim-title d-flex justify-content-center">
        <h3>Lideres de nuestra iglesia</h3>
        <br/>
    </div>
    <div >

        <div id="carousel">
                    <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <div class="row justify-content-center contenedor-carrusel">
                                        <div class="col-sm-12 col-md-8 col-lg-5">                                            
                                        <img src="assets/img/mundoD.jpeg" class="img img-no-padding img-responsive" alt="Rounded Image">
                                        <!-- <p class="text-center">Joe Gardner</p>
                                        <p class="text-center">Lider de evangelismo, Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi iure at, facilis amet vero officiis, dignissimos a reprehenderit, eius architecto error velit minima veritatis quia ab aperiam sapiente alias fugiat!</p> -->
                                        </div>                                        
                                    </div>  
                                </ng-template>
                                <ng-template ngbSlide>
                                    
                                    <div class="row justify-content-center contenedor-carrusel">
                                        <div class="col-sm-12 col-md-8 col-lg-5">                                            
                                        <img src="assets/img/mundoD.jpeg" class="img img-no-padding img-responsive" alt="Rounded Image">
                                        <!-- <p class="text-center">Joe Gardner</p>
                                        <p class="text-center">Lider de evangelismo, Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi iure at, facilis amet vero officiis, dignissimos a reprehenderit, eius architecto error velit minima veritatis quia ab aperiam sapiente alias fugiat!</p> -->
                                        </div>                                        
                                    </div>  
                                </ng-template>
                                <ng-template ngbSlide>                                    
                                    <div class="row justify-content-center contenedor-carrusel">
                                        <div class="col-sm-12 col-md-8 col-lg-5">                                            
                                        <img src="assets/img/mundoD.jpeg" class="img img-no-padding img-responsive" alt="Rounded Image">
                                        <!-- <p class="text-center">Joe Gardner</p>
                                        <p class="text-center">Lider de evangelismo, Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi iure at, facilis amet vero officiis, dignissimos a reprehenderit, eius architecto error velit minima veritatis quia ab aperiam sapiente alias fugiat!</p> -->
                                        </div>                                        
                                    </div>  
                                </ng-template>
                            </ngb-carousel>
                        </div>                   
        </div>

        <!-- <div class="col-xs-8 col-sm-6 col-md-3">
            <h4 class="images-title">Rounded Image</h4>
            <img src="assets/img/uriel-soberanes.jpg" class="img-rounded img-responsive" alt="Rounded Image">
            <div class="img-details">
                <div class="author">
                    <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <p>Chet Faker</p>
            </div>
        </div>
        <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
            <h4 class="images-title">Circle Image</h4>
            <img src="assets/img/faces/joe-gardner-2.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
            <p class="text-center">Joe Gardner</p>
        </div> -->
      
    </div>
</section>
