<div class="box-radio-principal">
    <section class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4">
            <div class="title"><p>Radio Asamblea de Dios Virtual</p></div> 
        </div>
        <div class="col-sm-12 col-md-4">
            <audio #audioref id="audio" controls>
                <source type="audio/mpeg" src="http://stream.zeno.fm/3t0aex2es2zuv"/>
            </audio>
        </div>       
        
    </div>
</section>
</div>

