<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/versiculos-mas-impactantes-de-la-biblia.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">                   
                    <!-- <h1 class="presentation-title">Jesus nuestro fiel amigo</h1> -->
                    <h2 class="versiculo">Y respondiendo Simón, le dijo: Maestro, habiendo trabajado toda la noche, nada hemos tomado; mas en tu palabra echaré la red. Lucas 5:5</h2> 
                    <div class="fog-low" style="margin-bottom:-100px ;">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right" style="margin-bottom:-100px ;">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    
                </div>                
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        
        
        <h6 class=" category-absolute ml-auto mr-auto">Escuchanos en nuestra radio 
        <!-- <h6 class="category category-absolute">Designed and coded by -->
            
        </h6>
    </div>
    <div class="main">
        <app-radio></app-radio>
        <app-radio-biblia></app-radio-biblia>
        <app-acerca-de-nosotros></app-acerca-de-nosotros>        
        <app-equipo-trabajo></app-equipo-trabajo>
        <app-vision-mision></app-vision-mision>       
        <app-contactanos></app-contactanos>
        
      <!-- <app-basicelements></app-basicelements>
      <app-navigation></app-navigation>    
      
      <app-typography></app-typography>     -->
    
        
    </div>
</div>
