<div class="section javascript-components">
    <div class="container">
        <div class="tim-title">
            <h2>Angular Native Components</h2>
        </div>
        <div class="row" id="modals">
            <div class="col-md-6">
                <div class="tim-title">
                    <h3>Modal</h3>
                </div>
                <app-modal-component></app-modal-component>
            </div>
            <div class="col-md-6">
                <div class="tim-title">
                    <h3>Popovers</h3>
                </div>

                <button type="button" class="btn btn-outline-danger btn-round" placement="right"
                    ngbPopover="Here will be some very useful information about this popover." popoverTitle="Popover on right">
                    on right
                </button>

                <button type="button" class="btn btn-outline-danger btn-round" placement="top"
                    ngbPopover="Here will be some very useful information about this popover." popoverTitle="Popover on top">
                    on top
                </button>

                <button type="button" class="btn btn-outline-danger btn-round" placement="left"
                    ngbPopover="Here will be some very useful information about this popover." popoverTitle="Popover on left">
                    on left
                </button>

                <button type="button" class="btn btn-outline-danger btn-round" placement="bottom"
                    ngbPopover="Here will be some very useful information about this popover." popoverTitle="Popover on bottom">
                    on bottom
                </button>

            </div>
            <br/>
            <div class="col-md-6">
                <div class="tim-title">
                    <h3>Datepicker</h3>
                </div>
                <div class="row">
                    <div class='col-sm-6'>
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group date" [ngClass]="{'input-group-focus':focus===true}">
                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                         name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (focus)="focus=true" (blur)="focus=false" />
                                    <div class="input-group-append">
                                        <span class="glyphicon glyphicon-calendar input-group-text">
                                          <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tim-title">
                    <h3>Tooltips</h3>
                </div>

                <button type="button" class="btn btn-outline-danger btn-round" placement="right" ngbTooltip="Tooltip on right">
                   on right
               </button>
               <button type="button" class="btn btn-outline-danger btn-round" placement="left" ngbTooltip="Tooltip on left">
                  on left
               </button>
                <button type="button" class="btn btn-outline-danger btn-round" placement="top" ngbTooltip="Tooltip on top">
                   on top
                </button>
                <button type="button" class="btn btn-outline-danger btn-round" placement="bottom" ngbTooltip="Tooltip on bottom">
                   on bottom
                </button>
            </div>
        </div>
    </div>
</div>
