<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.facebook.com/AsambleaDeDiosVirtual">Asamblea de Dios virtual</a></li>                    
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, Asamblea de Dios virtual
                </span>
            </div>
        </div>
    </div>
</footer>
